@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,700|Yanone+Kaffeesatz);
/*===== nav style ======*/
a{
	text-decoration: none;
}

p{
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color:#ffffff;
}

#let{
	margin-left:40%;
	padding: 2px;
	width: 250px;
	height: 50px;
	/*background: #5B03F2;*/
}

body{
	background: #000000 url(../images/sip.jpg)repeat;
}

#logo{
	height: 100px;
	width: 1349px;
	margin-top: -8px;
	margin-left: -8px;
	background-color: rgba(0,0,0,0.7);
}

#title{
	height: 100px;
	width: 1000px;
	margin-left:120px;
	background: url(../images/logo.png) no-repeat;
}

#contenido{
	height: 590px;
	width: 1110px;
	background-color: rgba(255,255,255,0.85);
	margin-left:9.56%;
	margin-top:-12px;
}

h1{
	color:#000000;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size:20px;
	font-weight:bold;
	padding: 15px;
}

#linea{
	width: 100%;
	height: 2px;
	background: #FF00DD;
	margin-top: -20px;
}

input[type="text"]{
	font-size:10pt;
	border-radius:10px;
	border:none;
	font-weight:bold;
	color:#000033;
	text-align:center;
	width:500px;
	height:30px;
	box-shadow:0 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	margin: 10px;
}

input[type="password"]{
	font-size:10pt;
	border-radius:10px;
	border:none;
	font-weight:bold;
	color:#000033;
	text-align:center;
	width:500px;
	height:30px;
	box-shadow:0 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	margin: 10px;
}

input[type="email"]{
	font-size:10pt;
	border-radius:10px;
	border:none;
	font-weight:bold;
	color:#000033;
	text-align:center;
	width:500px;
	height:30px;
	box-shadow:0 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	margin: 10px;
}

input[type="date"]{
	font-size:10pt;
	border-radius:10px;
	border:none;
	font-weight:bold;
	color:#000033;
	text-align:center;
	width:500px;
	height:30px;
	box-shadow:0 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	margin: 10px;
}

.estilotextarea{
	font-size:10pt;
	border-radius:10px;
	border:none;
	font-weight:bold;
	color:#000033;
	text-align:center;
	width:500px;
	height:130px;
	box-shadow:0 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	margin: 10px;
	
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 13px;
	color:#000000;
}

#form{
	width: 500px;
	height: 230px;
	background-color: rgba(250,250,250,0.5);
	border-radius: 105px 4px 105px 4px;
	-moz-border-radius: 105px 4px 105px 4px;
	-webkit-border-radius: 105px 4px 105px 4px;
	border: 0px solid #000000;
	float:left;
}

.myButton {
	-moz-box-shadow:inset 0px 0px 2px -1px #ffffff;
	-webkit-box-shadow:inset 0px 0px 2px -1px #ffffff;
	box-shadow:inset 0px 0px 2px -1px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Verdana;
	font-size:13px;
	font-weight:bold;
	padding:4px 12px;
	text-decoration:none;
	text-shadow:0px -2px 0px #ffffff;
	width: 120px;
	height: 30px;
	margin:4px;
	margin-left: 35%;
	
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}

#footer{
	height: 85px;
	width: 1349px;
	background-color: rgba(0,0,0,0.5);
	margin-left: -8px;
}

#fdw{
	height: 41px;
	width: 1349px;
	background:#F90A0A;
	margin-left: -8px;
	background-color: rgba(0,0,0,1);
	margin-top: -16px;
}

/*=================================================================*/
/*********************************menu******************************/
#fdw nav select {
	display:none; /* this is just for the mobile display */
}
#fdw nav ul {
	display:block;
	z-index:999999;
}
#fdw nav ul li {
	display:inline-block;
	padding:0px 3px 15px;
	margin-left:30px;
	position:relative;
}
#fdw nav ul li a:link, #fdw nav ul li a:visited {
	color: #ffffff;
	font:normal 20px 'Yanone Kaffeesatz', sans-serif;
	text-transform:uppercase;
	display:inline-block;
	position:relative;
}
#fdw nav ul li a:hover, #fdw nav ul li a:active {
	color:#FF00DD;
	text-decoration:none;
}
#fdw nav ul li span {
	position:absolute;
	right:-12px;
	bottom:6px;
	width:7px;
	height:8px;
	margin:0 0 0 3px;
	float:right;
	display:block;
	background:url('images/nav_arrow.png') no-repeat left -8px;
	font:0/0 a;
}
#fdw nav ul li.current {
	border-bottom:2px solid #FF00DD;
}
#fdw nav ul li.current a {
	color:#FF00DD;
	cursor: default;
}
#fdw nav ul li.current a span {
	background:url('../images/nav_arrow.png') no-repeat left 0;
}
#fdw nav ul li.current ul li a {
	cursor:pointer;
}

/*===== sub_menu Style =======*/
#fdw nav ul li ul.sub_menu {
	position:absolute;
	top:30px;
	left:0;
	margin:0;
	padding:0;
	background:#fff;
	border:1px solid #ececec;
	border-top:5px solid #FF00DD;
	display:none;
	z-index:999999;
    -moz-box-shadow: 0px 6px 7px #121012;
    -webkit-box-shadow: 0px 6px 7px #121012;
    box-shadow: 0px 6px 7px #121012;
}
#fdw nav ul li ul.sub_menu li.arrow_top {
	position:absolute;
	top:-12px;
	left:12px;
	width:13px;
	height:8px;
	display:block;
	border:none;
	background:url('images/arrow_top.png') no-repeat left top;
}
#fdw nav ul li ul.sub_menu li {
	float:none;
	margin:0;
	padding:0;
	border-bottom:1px solid #FF00DD;
}
#fdw nav ul li ul.sub_menu li a {
	white-space: nowrap;
	width: 150px;
	padding:12px;
	font:13px Arial, tahoma, sans-serif;
	text-transform:capitalize;
	color:#777;
}
#fdw nav ul li ul.sub_menu li a:hover {
	background:#f9f9f9;
	color:#333;
}
#fdw nav ul li ul.sub_menu li a.subCurrent {
	color:#E0E0E0;
	cursor:default;
}
#fdw nav ul li ul.sub_menu li a.subCurrent:hover {
	background:none;
}
/*===================== end Header style ======================*/


@media only screen and (min-width: 768px) and (max-width: 959px) {
		/* nav */
		#fdw nav ul li{
			margin-left:12px;
		}
}

	/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

		/* nav menu ul & select */
		#fdw nav ul {
			display:none;
		}
		#fdw nav select {
			width:100%;
			display:block;
			margin-bottom:30px;
			cursor:pointer;
			padding:6px;
			background:#f9f9f9;
			border:1px solid #e3e3e3;
			color:#777;
		}
}
/*=================================================================*/
/*********************************FINmenu******************************/